extends layout

block head
  title= title

block sidebar
  .header
    h1.page-title Andy's Blog
    h2.page-tagline Gaming and coding in Manchester

block content
  .posts
  .footer
    .pure-menu.pure-menu-horizontal
      ul
        li.pure-menu-item
          a(class='pure-menu-link', href='http://twitter.com/graan_jonlo/') Twitter
        li.pure-menu-item
          a(class='pure-menu-link', href='http://github.com/GraanJonlo/grog/') GitHub
