extends layout

block head
  title= "Sign In"

block sidebar
  .header
    h1.page-title Sign In

block content
  form(action='/login', method='POST')
    label(for='username') Your username
    input(type='text', name='username', id='username', placeholder='Username', required, autofocus)

    label(for='password') Your password
    input(type='password', name='password', id='password', placeholder='Password', required)

    button(type='submit') Sign In
