@section head
{
    <title>@ViewBag.Title</title>
}

@section sidebar
{
    <div class="header">
        <h1 class="page-title">Andy's Blog</h1>
        <h2 class="page-tagline">Gaming and coding in Manchester</h2>
    </div>
}

<div class="posts">
</div>
<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://twitter.com/graan_jonlo/">Twitter</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://github.com/GraanJonlo/grog/">Github</a>
            </li>
        </ul>
    </div>
</div>
